{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<!-- Contenido -->
<div class="container-wrap">
	<div id="fh5co-about">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center animate-box">
				<div class="about-desc">
					<h3>Mtra. Adela Mabarak Celis</h3>
					<div class="col-md-10 col-md-offset-1 animate-box">
						<p><center><img src="{% static 'core/images/adela.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive"></center>
					</div>
					<div style="visibility: hidden">Mi texto escondido</div><!--Aqui texto escondido, para rellenar espacio y ajustar texto-->
					<p align="justify"><em>
						<br>Desde hace más de 30 años, me he dedicado a trabajar con grupos vulnerables y
						he participado activamente en los cambios de consciencia a nivel individual y
						colectivo. He realizado diversos talleres para el desarrollo y el bienestar de las
						personas por medio de la utilización de herramientas terapéuticas innovadoras
						como es el caso de la praxis de constelaciones familiares, metafísica y astrología;
						así como también, he tomado innumerables cursos y talleres para poder ayudar a
						las personas en momentos difíciles como las pérdidas de seres queridos, las
						rupturas de relaciones, jóvenes con problemas de aprendizaje, y niños con
						dificultades para relacionarse afectivamente con sus semejantes.
						Tengo estudios de licenciatura y posgrado en comunicación, mismos que estudié
						en la Universidad Nacional Autónoma de México (UNAM). Estudie el Diplomado
						Internacional de los Nuevos Avances en Constelaciones Familiares y obtuve la
						Certificación en Domus-Cudec avalado por la SEP.
						
						A través de la amplia experiencia que tengo como docente -más de 18 años- me
						he dado cuenta la importancia que tienen las relaciones humanas tanto a nivel
						individual como colectivo. A partir de estas vivencias, he aprendido a trabajar con
						personas que tienen problemas tanto en su vida cotidiana como en lo profesional;
						de ahí que consideré necesario ahondar cada vez más en el aprendizaje de los
						conflictos internos y de esta manera, poder brindar el apoyo necesario para el
						bienestar de las personas para que puedan trascender hacia una vida más
						abundante y plena.</em></p>
				</div>

					
				<div class="about-desc"><br><hr>
					<h3>Terapeuta Irene Cava</h3>
					<div class="col-md-10 col-md-offset-1 text-center animate-box">
						<p><center><img src="{% static 'core/images/Irene.jpg' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive"></center></p>
					</div>
					<div style="visibility: hidden">Mi texto escondido</div><!--Aqui texto escondido, para rellenar espacio y ajustar texto-->
					<p align="justify"><em>Desde hace más de 20 años, y por una experiencia personal que tuve con uno de
						mis hijos -ya que presentaba déficit de atención-, me decidí a estudiar terapia floral
						para apoyarme y dar una solución innovadora y alterna para ayudar a mi hijo. De
						esta experiencia aprendí la importancia que tiene poder aportar ayuda a los demás
						a través del estudio profundo acerca de terapias alternativas.
						También me certifiqué en la masoterapia como una alternativa para ayudar a las
						personas ya que los masajes tienen muchos beneficios, pues ayudan a relajarnos,
						mejora nuestro sistema linfático, la circulación y alivia la presión de la espalda
						entre otros beneficios, no menos importantes.
						Las Flores de Bach nos ayudan a encontrar la causa que está detrás de un
						síntoma. Una vez que llegamos a la raíz del problema, éste puede desaparecer.
						Los males que pueden ser tratados con esta técnica son: Miedos, incertidumbre,
						hipersensibilidad, sentimiento de soledad, duelos, cansancio, entre otros.
						Por otro lado, también me especialicé en la lectura del tarot terapéutico como una
						herramienta más para poder ayudar a las personas a través de sintonizarlas con
						su esencia e identificar a resolver bloqueos, miedos y otros patrones de conducta
						que dificultan su bienestar y realización como individuos.</em></p>
				</div>
			</div>
		</div>
	</div>
</div><!-- END container-wrap -->
{% endblock %}	